.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;

    .mainContent {
        margin: 0 auto;
        width: 100%;
        max-width: 390px;
        padding-top: 90px;
        padding-bottom: 84px;
        flex-grow: 1;
    }
}
